<body class="bg-fourth">
    <header class="flex row bg-ternary header">
        <div class="flex column justify-around items-center float-left link-container">
            <a class="no-decoration text-bold text-white bg-secondary header-link" href="/">Home</a>
            <a class="no-decoration text-bold text-white bg-secondary header-link" href="/docs">Documentation</a>
        </div>

        <div class="flex row justify-center margin-x-auto items-center">
            <div class="title text-primary"><b>SINJ</b> <div class="text-thin">Framework</div></div>
            <img class="icon text-primary" src="favicon.svg" />
        </div>

        <a
                class="margin-y-auto no-decoration text-thin text-primary float-right"
                href="https://github.com/cpe-lyon/projet-tidal-13-sinj-framework"
                style="margin-right: 20px"
        >
            GitHub &#8599;
        </a>
    </header>

    <main class="flex column justify-center items-center">
        <div class="flex column justify-center container bg-fourth">
            <h2 id="introduction-et-description">Introduction et description</h2>
            <p>Projet de semestre 7 à l&#39;école d&#39;ingénieurs CPE Lyon, promotion IRC 2021-2024.</p>
            <p>L&#39;objectif de notre groupe est de créer un framework WEB en PHP.
                Un framework ou cadre d&#39;application Web est un cadre logiciel conçu pour prendre en charge le développement d&#39;applications Web, découpé en plusieurs composants.</p>
            <p><b>Composants d&#39;un framework :</b></p>
            <ul>
                <li>Services Web</li>
                <li>Ressources Web</li>
                <li>API Web</li>
            </ul>
            <hr>
            <h2 id="choix-de-l-quipe">Choix de l&#39;équipe</h2>
            <p>Développé avec PHP 7.4</p>
            <p><b>Architecture logicielle :</b></p>
            <p>MVC</p>
            <p><b>Fonctionnalités :</b></p>
            <ul>
                <li>Routeur de routes</li>
                <li>Contrôleurs</li>
                <li>Autoloader et namespaces</li>
                <li>Moteur de templating</li>
                <li>Routes annotées</li>
                <li>ORM (opt.)</li>
                <li>Prise en compte de fichiers d&#39;environnement (opt.)</li>
            </ul>
            <hr>
            <h2 id="-quipe-et-contraintes">Équipe et contraintes</h2>
            <p><b>Nom du groupe : </b></p>
            <p>Équipe 13 - SINJ Framework</p>
            <p><b>Contributors :</b></p>
            <ul>
                <li>François CHEVAL</li>
                <li>Mathias EMILE</li>
                <li>Tanguy FROUIN</li>
                <li>Julien CAPOSIENA</li>
            </ul>
            <p><b>Deadline :</b></p>
            <p>27 novembre 2022</p>
            <p><b>RAF : </b></p>
            <ul>
                <li>Gestion d&#39;erreur sur le TemplateMotor</li>
                <li>Terminer la fonction de rapport d&#39;accessibilité et définir le format du compte-rendu</li>
                <li>Finir le site de demonstration de fonctionnement du framework</li>
            </ul>
        </div>

        <div class="background"></div>
    </main>
</body>