<body style="overflow: hidden">
  <header class="flex row bg-ternary header">
    <div class="flex row justify-center margin-x-auto items-center">
      <div class="title text-primary"><b>SINJ</b> <div class="text-thin">Framework</div></div>
      <img class="icon text-primary" src="favicon.svg" />
    </div>

    <a
      class="margin-y-auto no-decoration text-thin text-primary float-right"
      href="https://github.com/cpe-lyon/projet-tidal-13-sinj-framework"
      style="margin-right: 20px"
    >
      GitHub &#8599;
    </a>
  </header>

  <main class="flex column justify-center items-center">
    <div class="flex column justify-center items-center main-content">
      <div class="text-white text-thin main-content-title">The best framework you'll ever have.</div>
      <div class="flex row justify-around" style="width: 70%; margin-top: 75px">
        <a class="no-decoration text-bold text-white bg-primary link" href="/docs">Documentation</a>
        <a class="no-decoration text-bold text-white bg-primary link" href="/about">About</a>
      </div>
    </div>

    <div class="background"></div>
  </main>
</body>