.main-content {
    width: 75%;
    height: 80vh;
}

.main-content-title {
    font-size: 2em;
    letter-spacing: 15px;
}

.link {
    padding: 25px 10px;
    border-radius: 10px;
    text-align: center;
    width: 25%;

    transition: 0.25s;
}

.link:hover {
    box-shadow: 0 0 25px rgba(163, 199, 214, 0.4);
    transition: 0.5s;
}